<section class="cta-wrap" appScrollReveal>
  <div class="cta-section">
    <div class="cta-symbol"><mat-icon>shield</mat-icon><mat-icon>favorite</mat-icon></div>
    <div class="cta-copy"><span>{{ 'Be part of the search' | translate:'खोज का हिस्सा बनें' }}</span><h2>{{ 'One community can make a real difference.' | translate:'एक समुदाय बड़ा बदलाव ला सकता है।' }}</h2><p>{{ 'Join people helping owners find their vehicles and bring peace of mind back home.' | translate:'उन लोगों से जुड़ें जो वाहन मालिकों को उनके वाहन खोजने और मन की शांति लौटाने में मदद कर रहे हैं।' }}</p></div>
    <a class="community-action" routerLink="/register">{{ 'Join the community' | translate:'समुदाय से जुड़ें' }}<mat-icon>arrow_forward</mat-icon></a>
    <div class="cta-decoration"></div>
  </div>
</section>
